/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: NeonTubes2;
    src: url(../css/fonts/NeonTubes2-Regular.woff2) format("woff2"),
        url(../css/fonts/NeonTubes2-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

html {
    scroll-behavior: smooth;
   }

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/site-images/site-bg-image.webp);
    background-repeat: repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

/* Neon Effects 
https://css-tricks.com/how-to-create-neon-text-with-css/
*/

.purple-neon-text {
    text-shadow:
        0 0 7px #cc30ff,
        0 0 10px #cc30ff,
        0 0 21px #cc30ff,
        0 0 42px #cc30ff,
        0 0 82px #cc30ff,
        0 0 92px #cc30ff;
}

.blue-neon-text {
    text-shadow:
        0 0 7px #1e9efb,
        0 0 10px #1e9efb,
        0 0 21px #1e9efb,
        0 0 42px #1e9efb,
        0 0 82px #1e9efb,
        0 0 92px #1e9efb;
}

.green-neon-text {
    text-shadow:
        0 0 7px #09fbd3,
        0 0 10px #09fbd3,
        0 0 21px #09fbd3,
        0 0 42px #09fbd3,
        0 0 82px #09fbd3,
        0 0 92px #09fbd3;
}

.orange-neon-text {
    color: #fff;
    text-shadow:
        0 0 7px #fd9d00,
        0 0 10px #000,
        0 0 21px #fd9d00,
        0 0 42px #fd9d00,
        0 0 82px #fd9d00,
        0 0 92px #fd9d00;
    line-height: 70% !important;
    margin: 60px 0 0 20px;
}

.green-neon-border {
    border: solid 5px #fff;
    border-radius: 6px;
    -webkit-box-shadow:
        0 0 7px #09fbd3,
        0 0 10px #09fbd3,
        0 0 21px #09fbd3;
            box-shadow:
        0 0 7px #09fbd3,
        0 0 10px #09fbd3,
        0 0 21px #09fbd3;
}

.purple-neon-border {
    border: solid 5px #fff;
    border-radius: 6px;
    -webkit-box-shadow:
        0 0 7px #cc30ff,
        0 0 10px #cc30ff,
        0 0 21px #cc30ff;
            box-shadow:
        0 0 7px #cc30ff,
        0 0 10px #cc30ff,
        0 0 21px #cc30ff;
}

.orange-neon-border {
    border: solid 5px #fff;
    border-radius: 6px;
    -webkit-box-shadow:
        0 0 7px #fd9d00,
        0 0 10px #fd9d00,
        0 0 21px #fd9d00;
            box-shadow:
        0 0 7px #fd9d00,
        0 0 10px #fd9d00,
        0 0 21px #fd9d00;
}

.blue-neon-border {
    border: solid 5px #fff;
    border-radius: 6px;
    -webkit-box-shadow:
        0 0 7px #1e9efb,
        0 0 10px #1e9efb,
        0 0 21px #1e9efb;
            box-shadow:
        0 0 7px #1e9efb,
        0 0 10px #1e9efb,
        0 0 21px #1e9efb;
}

/* NAVBAR */

nav {
    background-color: rgba(0, 0, 0, 0.7);
}

#nav-main-text {
    font-size: 2em;
    font-weight: 600;
    margin-left: 15px;
}

#nav-main-text:hover {
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0 0 3px #fff;
}

#nav-down-btn {
    font-size: 1em;
}

.dropdown-content {
    color: #fff;
    background-color: #000;
    /* https://stackoverflow.com/questions/50394358/materializecss-vertically-offset-dropdown-menu-content/50395102 */
    top: 100% !important;
}

.dropdown-content li a, .sidenav li a, .flash-msg, .footer-links li a, .coll-intro, .pagination-page-info, .pagination li a, input, .log-reg-text a, .none-found a, .end-home-text a {
    color: #fff;
}

.dropdown-content li:hover{
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 3px #fff;
}

.sidenav {
    color: #fff;
    background-color:  rgba(0, 0, 0, 0.9);
}

.sidenav .collapsible-header {
    padding: 0 32px;
    font-weight: 500;
}

.sidenav .collapsible-body {
    background-color: transparent;
}

.collapsible-body li a{
    font-weight: 300;
}

.collapsible-header i {
    font-size: .8em;
}

/* FOOTER */

.page-footer {
    padding-top: .6em;
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.page-footer h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 10px;
    font-size: 2.28em;
    font-weight: 200;
}

.footer-container {
    text-align: center;
}

.footer-links li {
    display: inline-block;
    font-size: 1.8em;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links li a:hover, .end-home-text a:hover {
    text-shadow: 0 0 4px #fff;
}

.footer-row {
    margin: 0;
}

/* RECIPES CARDS */

.card {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.card .main-content {
    width: 100%;
    height: 100%
}

.card .main-content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 200px;
}

.card .overlay-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    overflow: hidden;
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    -webkit-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
    text-align: center;
}

.card:hover .overlay-content {
    top: 0;
}

.name-wrapper {
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card-cocktail-name {
    margin: 8px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.1em;
}

.card-cocktail-ing {
    font-weight: 500;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
}

/* CAROUSEL*/

.carousel {
    max-width: 100vw;
}

.carousel .carousel-item {
    height: 350px;
    width: 350px;
}

.carousel-item img {
    height: 350px;
    width: 350px;
}

.carousel-item p {
    -webkit-transform: translate(20px, -150px);
        -ms-transform: translate(20px, -150px);
            transform: translate(20px, -150px);
    color: #fff;
    font-size: 1.5em;
    line-height: 120% !important;
}

@media only screen and (max-width: 767px) {
    .carousel {
        max-width: 100vw;
    }
        
    .carousel .carousel-item {
        height: 200px;
        width: 200px;
    }

    .carousel-item img {
        height: 192px;
        width: 192px;
    }

    .carousel-item p {
        -webkit-transform: translateY(-130px);
            -ms-transform: translateY(-130px);
                transform: translateY(-130px);
    }
}

/* RECIPE PAGES */

.collection-banner-image {
    margin: 50px 0 40px 0;
}

.collection-container {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.collection-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.collection-banner-name {
    position: absolute;
    margin-top: -40vh;
}

@media only screen and (max-width: 500px) {
    .collection-banner-name h1 {
        font-size: 12vw;
        font-weight: 500;
    }
}

.all-cocktails-image {
    background-image: url(../images/site-images/all-cocktails-banner.webp);
    margin: 50px 0 40px 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.orange-neon-text > span {
    font-size: .5em;
    font-weight: 600;
    letter-spacing: 4px;
}

.coll-intro hr{
    border: 2px solid #fff;
    margin: 20px 0;
}

.coll-intro p{
    font-size: 1.5em;
    text-align: justify;
}

/* HERO AREA */

.welcome-container {
    height: 100vh;
    background: url('../images/site-images/wall.webp');
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: -3;
}

.welcome-text-container {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.welcome-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 80px;
}

.welcome-text h1 {
    margin: 0;
    font-family: "NeonTubes2", sans-serif;
    color: #fff;
    font-size: 6em;
}

#hero-logo {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 879px) {
    #hero-logo {
        margin-top: 250px
    }
}

@media only screen and (max-width: 767px) {
    #hero-logo {
        display: none;
    }
}

/* HOME TEXT AREAS */

.home-section-intro {
    color:#fff;
    margin: 0 20px 20px 20px;
    padding-top: 20px;
}

.home-section-heading {
    font-family: "NeonTubes2", sans-serif;
}

.home-section-text {
    font-size: 1.5em;
    text-align: justify;
}
.end-home-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/* FORM & INPUT */

.glass-container-header {
    font-family: 'NeonTubes2', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

.glass-container {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 50px 0;
}

form {
    color: #fff;
    padding: 20px;
}

.input-field {
    margin-top: 48px;
}

.input-field .prefix.active {
    color: white;
    text-shadow: 0 0 3px #fff;;
}

/*Make input area darker as user cannot edit */
.non-input {
    color: rgb(109, 109, 109);
    font-style: italic;
}

.tooltip-container {
    text-align: right;
    margin-right: 12px;
}

.tooltipped {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.tooltip-content {
    line-height: 150%;
}

/* PAGINATION*/

.pagination li.active{
    font-weight: 500;
    background-color: transparent;
    text-shadow: 0 0 3px #fff;
}

.pagination li:hover{
    text-shadow: 0 0 3px #fff;
}

.pagination-container {
    text-align: center;
}

/* BUTTONS */ 

.btn-margin {
    margin: 10px 0;
}

.card-btn-container {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.card-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    display: block;
    margin-top: 10px;
}

.card-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 7px #fff;
            box-shadow: 0 0 7px #fff;;
}

#search-btn {
    margin: 0 10px 0 0;
}

#upload-btn {
    margin: 0 0 15px 0;
    font-size: 1.6em;
}

.btn i {
    font-size: .9em;
}

.btn {
    color: #fff;
    background-color: #1e1e1e;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 45px;
}

.btn:hover, .btn:focus {
    color: #fff;
    background-color: #1e1e1e;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 7px #fff;
            box-shadow: 0 0 7px #fff;
    border-radius: 5px;
    margin-left: 45px;
}

.delete-btn, .modal-close, #clear-btn, #search-btn {
    margin: 0 20px 0px 20px !important;
}

#go-back-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    margin: 10px 0 -20px 10px;
    cursor: pointer;
}

/* TO TOP BUTTON 
 https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
 #toTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 120px; /* Bottom position to make button sit above footer */
    right: 3vw;
    z-index: 99; 
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: white; 
    font-size: 1.5em;
    padding: 3px 9px;
    -webkit-box-shadow: 0 0 4px #fff;
            box-shadow: 0 0 4px #fff;
 }

/* FULL RECIPE */

.full-recipe {
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.full-recipe-name {
    color: #fff;
    font-family: "NeonTubes2", sans-serif;
    margin-top: 60px;
}

@media only screen and (max-width: 767px) {
    .full-recipe-name, .username-text {
        font-size: 12vw;
        margin: 40px 0 5px 0;
    }
}

.full-recipe-img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.small-glass-container {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.small-glass-container h2 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;
}

.main-ing {
    margin-top: 15px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* MODAL */
.modal, .modal-footer {
    background-color: #1e1e1e !important;
    color: #fff;
    text-align: center !important;
    font-size: 1.5em;
    padding-bottom: 20px;
}

/* LOGIN-REGISTER */

.log-reg-text {
    color: #fff;
    font-size: 1.4em;
    padding-bottom: 20px;
    text-align: center;
}

.log-reg-text a:hover, .none-found a:hover, #go-back-btn:hover {
    text-shadow: 0 0 3px #fff;
}
/* ACCOUNT PAGE */

.account-sub-heading {
    color: #fff;
    font-size: 2.5em;
    margin: 30px 0;
}

.none-found, .error-container p {
    color: #fff;
    font-size: 1.6em;
}

/* ERROR PAGES */

.error-container {
    color:#fff;
    text-align: center;
}

.error-container img {
    height: 20vh;
}

.error-container .btn {
    margin: 0;
}

/*MANAGE COLLECITON*/

@media only screen and (max-width: 500px) {
    .manage-coll-header {
        font-size: 13vw;
    }
}