{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1 class="glass-container-header green-neon-text">
                {{ username }}
            </h1>
            
            <h2 class="account-sub-heading center-align">My Recipes</h2>
            <div class="row">
                <div class="center-align">
                    <a id="upload-btn" class="btn center-align" href="{{ url_for('add_recipe') }}"><i class="fas fa-plus upload-icon prefix"></i> Upload Recipe</a>
                </div>
                {% for recipe in recipes %}
                    {% if session.user|lower == recipe.created_by|lower %}
                        <div class="card-container col s12 m6 l4 xl3">
                            <div class="card green-neon-border">
                                <div class="main-content">
                                    <img src="{{ recipe.image_url}}" alt="cocktail recipe image">
                                </div>
                                <div class="overlay-content">
                                    <div class="valign-wrapper name-wrapper">
                                        <div class="card-cocktail-name">
                                            {{ recipe.cocktail_name }}
                                        </div>
                                    </div>
                                    <div class="card-cocktail-ing">
                                        {{ recipe.main_ingredient }}
                                    </div>
                                    <div class="card-btn-container">
                                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="card-recipe-btn card-btn">Full Recipe</a>
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="card-recipe-btn edit-btn card-btn">Edit</a>
                                        <a class="modal-trigger card-btn" href="#delete_recipe{{recipe._id}}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal green-neon-border" id="delete_recipe{{recipe._id}}">
                            <div class="modal-content">
                            <p>You are about to pemanantly delete this recipe</p>
                            <p>Once you have deleted it, you cannot get it back</p>
                            <p>Are you sure that you wish to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn modal-close ">Cancel</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn delete-btn">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pagination-container">
                <!-- Pagination -->
                {% if recipes|length > 0 %}
                    {{ pagination.links }}
                    {{ pagination.info }}
                {% else %}
                    <p class="none-found">You haven't uploaded any recipes yet<br>Use the button below to add something!</p>
                {% endif %}
            </div>
            <button onclick="topFunction()" id="toTopBtn" class="hide-on-large-only" title="Go to top"><i class="fas fa-angle-double-up"></i></button>            
        </div>
    </div>

{% endblock %}