{% extends "base.html" %}
{% block content %}

<h1>Add Recipe</h1>

<div>
    <form method="POST" action="{{ url_for('add_recipe') }}">
        <div>
            <div class="input-field col s12">
                <i class="fas fa-glass-cheers prefix"></i>
                <select multiple id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Collection</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Cocktail Collection</label>
            </div>
            <div class="input-field">
                <i class="fas fa-cocktail prefix"></i>
                <input id="cocktail_name" name="cocktail_name" type="text" maxlength="30" class="validate" required>
                <label for="cocktail_name">Cocktail Name</label>
            </div>
            <div class="input-field">
                <i class="fas fa-star prefix"></i>
                <input id="main_ingredient" name="main_ingredient" type="text" class="validate" required>
                <label for="main_ingredient">Main Ingredient</label>
            </div>
            <div class="input-field">
                <i class="fas fa-wine-bottle prefix"></i>
                <input id="ingredients" name="ingredients" type="text" class="validate" required>
                <div id="new-ingredient"></div>
                <label for="ingredients">Ingredients</label>
                <button id="add-ingredient" onclick="extraIngredient">Add Another Ingredient</button>
            </div>
            <div class="input-field">
                <i class="fas fa-list prefix"></i>
                <input id="method" name="method" type="text" class="validate" required>
                <div id="new-step"></div>
                <label for="method">Method</label>
                <button id="add-step" onclick="extraStep">Add Another Method Step</button>
            </div>
            <div class="input-field">
                <i class="fas fa-image prefix"></i>
                <input id="image_url" name="image_url" type="text" class="validate" required>
                <label for="image_url">Image URL</label>
            </div>
            <div>
                <button type="submit">Add recipe!</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}