{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12 m8 offset-m2">
        <h1 class="glass-container-header green-neon-text username-text">Manage Collections</h1>
        <!-- Recipes display  -->
        <div class="row">
            <div class="center-align">
                <a id="upload-btn" class="btn center-align" href="{{ url_for('add_collection') }}"><i class="fas fa-plus upload-icon prefix"></i> Add Collection</a>
            </div>
            {% for collection in collections %}
                <!-- Recipe card  -->
                <div class="card-container col s12 m6 l4 xl3">
                    <div class="card green-neon-border">
                        <div class="main-content">
                            <img src="{{ collection.carousel_img }}" alt="################">
                        </div>
                        <div class="overlay-content">
                            <div class="valign-wrapper name-wrapper">
                                <div class="card-cocktail-name">
                                    {{ collection.category_name }}
                                </div>
                            </div>
                            <!--edit/delete collections buttons -->
                            <div class="card-btn-container">
                                <a href="#" class="card-recipe-btn edit-btn card-btn">Edit</a>
                                <a class="modal-trigger card-btn" href="##">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delect recipe confirmation -->
                <div class="modal green-neon-border" id="##">
                    <div class="modal-content">
                    <p>You are about to pemanantly delete this recipe</p>
                    <p>Once you have deleted it, you cannot get it back</p>
                    <p>Are you sure that you wish to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn modal-close ">Cancel</a>
                        <a href="##" class="btn delete-btn">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}