<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A cocktail recipe website for a community that everone can get involved with">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
    crossorigin="anonymous" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <title>Coctail Hour</title>
</head>

<body>
  <div class="content">
    <header>
      <nav>
        <!-- Main navbar -->
        <div class="nav-wrapper">
          <a id="nav-main-text" href="{{ url_for('home') }}"><i class="fas fa-glass-martini-alt prefix"></i> Cocktail
            Hour</a>
            <!-- Trigger for side-nav -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger" title="navigation menu"><i class="fas fa-bars"></i></a>
          <ul id="dropdown1" class="dropdown-content">
            {% for category in categories %}
              <li><a href="{{ url_for('collection', category_id=category._id) }}">{{ category.category_name }}</a></li>
            {% endfor %}
          </ul>
          <ul class="right hide-on-med-and-down top-nav">
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            <li>
              <a class="dropdown-trigger" data-target="dropdown1">Collections <i id="nav-down-btn" class="fas fa-chevron-down"></i></a>
            </li>
            {% if session.user %}
              {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('all_collections') }}">Manage Collections</a></li>
              {% endif %}
            <li><a href="{{ url_for('account', username=session['user']) }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- Side navbar -->
      <ul class="sidenav collapsible" id="mobile-demo">
        <li>
          <h3 class="center-align">Cocktail Hour</h3>
        </li>
        <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
        <li>
          <div class="collapsible-header">Collections <i class="fas fa-chevron-down nav-down-btn2"></i></div>
          <div class="collapsible-body">
            <ul>
              {% for category in categories %}
                <li><a href="{{ url_for('collection', category_id=category._id) }}">{{ category.category_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% if session.user %}
          <!--Only show buttons to logged in user-->
          {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('all_collections') }}">Manage Collections</a></li>
          {% endif %}
          <li><a href="{{ url_for('account', username=session['user']) }}">Account</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
          <!--Only show buttons to non-logged in user-->
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </header>
    <div>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div>
                      <h4 class="flash-msg center-align">{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
  </div>
  <!-- Page Footer -->
  <footer class="page-footer">
    <div class="footer-container">
      <div class="row footer-row">
        <h1>FOLLOW US</h1>
        <div class="col s12">
          <ul class="footer-links">
            <!--Social Media links-->
            <li><a href="https://www.facebook.com/" target="_blank" title="Facebook link" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" title="Instagram link" rel="noopener"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com/" target="_blank" title="Twitter link" rel="noopener"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.tiktok.com/" target="_blank" title="TikTok link" rel="noopener"><i class="fab fa-tiktok"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Script tags -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>