{% extends "base.html" %}
{% block content %}

    <div class="glass-container-header">
        <h1 class="green-neon-text">Edit Recipe</h1>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 glass-container">
            <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <div>
                    <!-- Edit Collections -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-glass-cheers prefix"></i>
                            <select multiple id="category_name" name="category_name" class="validate">
                                <option value="" disabled>Choose Collection</option>
                                {% for category in categories %}
                                    {% if category.category_name in recipe.category_name %}
                                        <option value="{{ category.category_name }}" selected="selected">{{ category.category_name }}</option>
                                    {% else %}
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="category_name">Cocktail Collection</label>
                        </div>
                        <div class="tooltip-container">
                            <a class="tooltipped" data-position="left" data-tooltip="You can add your recipe to one or more of our collections!<br>Just use the dropdown to select which collection(s) your recipe belongs in">?</a>
                        </div>
                    </div>
                    <!-- Edit Cocktail Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-cocktail prefix"></i>
                            <input id="cocktail_name" name="cocktail_name" type="text" maxlength="30" value="{{ recipe.cocktail_name }}" class="validate"class="validate" value="https://images.unsplash.com/photo-1570869937455-a347fba0a41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" required>
                            <label for="cocktail_name">Cocktail Name</label>
                        </div>
                    </div>
                    <!-- Edit Main Ingredient -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix"></i>
                            <input id="main_ingredient" name="main_ingredient" type="text" value="{{ recipe.main_ingredient }}" class="validate" required>
                            <label for="main_ingredient">Main Ingredient</label>
                        </div>
                        <div class="tooltip-container">
                            <a class="tooltipped" data-position="left" data-tooltip="This is a judgement call!<br>It will be the first thing people see when they select your recipe">?</a>
                        </div>
                    </div>
                    <!-- Edit Ingredients -->
                    <div class="row">
                        {% for ingredient in recipe.ingredients %}
                            <div class="input-field col s12">
                                <i class="fas fa-wine-bottle prefix"></i>
                                <input id="ingredients" name="ingredients" type="text" value="{{ ingredient }}" class="validate" required>
                                <label for="ingredients">Ingredient</label>
                        {% endfor %}
                            <!-- New ingredient input added here -->
                            <div class="new-ing"></div>
                            <button type="button" class="btn add-ingredient">Add Ingredient</button>
                        </div>
                        <div class="tooltip-container">
                            <a class="tooltipped" data-position="left" data-tooltip="You can add as many ingredients as you need to<br>Be sure to include the main ingredient (stated above) and measurements!">?</a>
                        </div>
                    </div>
                    <!-- Edit Method -->
                    <div class="row">
                        {% for step in recipe.method %}
                            <div class="input-field col s12">
                                <i class="fas fa-list prefix"></i>
                                <input id="method" name="method" type="text" value="{{ step }}" class="validate" required>
                                <label for="method">Method</label>
                        {% endfor %}
                            <!-- New method step added here -->
                            <div class="new-step"></div>
                            <button type="button" class="btn add-step">Add Step</button>
                        </div>
                        <div class="tooltip-container">
                            <a class="tooltipped" data-position="left" data-tooltip="You can add as many steps as it takes to make youre drink!<br>Be through and clear">?</a>
                        </div>
                    </div>
                    <!-- Edit Image URL -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix"></i>
                            <input id="image_url" name="image_url" type="text" value="{{ recipe.image_url }}" class="validate" required>
                            <label for="image_url">Image URL</label>
                        </div>
                        <div class="tooltip-container">
                            <a class="tooltipped" data-position="left" data-tooltip="You can include an image with your recipe<br>Find the image online, right click and hit 'Copy image address' (or some variation of this!) and paste it in the bar above <br> We know that this isn't possible on all devices so if you want, you can just use the pre-filled url">?</a>
                        </div>
                    </div>
                    <div>
                        <!-- Submit/Cancel buttons -->
                        <button class="btn" type="submit">Update</button>
                        <a class="btn" href="{{ url_for('account', username=session['user']) }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}