{% extends "base.html" %}
{% block content %}

    <div class="row collection-container">
        <div class="col s12 m8 offset-m2 collection-banner-image fruity-image">
            <div class="collection-banner-text">
                <h1 class="orange-neon-text">Fruity<br><span class="abc">Collection</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Collection intro -->
        <div class="col s12 m6 offset-m3 coll-intro">
            <hr class="orange-neon-border">
            <p>The summer vibes are strong with these drinks! We're not going to tell you these are heathy, but it sure is one way to get your 5-a-day!</p>
            <hr class="orange-neon-border">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="row">
                <!-- Recipe card -->
                {% for recipe in recipes %}
                    <div class="card-container col s12 m6 l4 xl3">
                        <div class="card orange-neon-border">
                            <div class="main-content">
                                <img src="{{ recipe.image_url }}" alt="cocktail recipe image">
                            </div>
                            <div class="overlay-content">
                                <div class="valign-wrapper name-wrapper">
                                    <div class="card-cocktail-name">
                                        {{ recipe.cocktail_name }}
                                    </div>
                                </div>
                                <div class="card-cocktail-ing">
                                    {{ recipe.main_ingredient }}
                                </div>
                                <div class="card-btn-container">
                                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="card-recipe-btn card-btn">Full Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination-container">
                <!-- Pagination -->
                {% if recipes.count() > 0 %}
                    {{ pagination.links }}
                    {{ pagination.info }}
                {% else %}
                    <p class="none-found">We dont have anything in this collection<br>Feel free to <strong><a href="{{ url_for('login') }}">log in to your account</a></strong> and add to the collection!<br>And if you don't have an account, you can <strong><a href="{{ url_for('register') }}">register for one here!</a></strong></p>
                {% endif %}
            </div>
            <!-- Scroll back to top button -->
            <button onclick="topFunction()" id="toTopBtn" class="hide-on-large-only" title="Go to top"><i class="fas fa-angle-double-up"></i></button>
        </div>
    </div>

    
{% endblock %}