{% extends "base.html" %}
{% block content %}

<h3>Full recipe</h3>

            <img src="{{ recipe.image_url }}" alt="cocktail image">
            <div>
                {{ recipe.cocktail_name }}
            </div>
            {% for ingredient in recipe.ingredients %}
                <div>
                    <ul>
                        <li>
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
            {% endfor %}
            {% for step in recipe.method %}
                <div>
                    <ul>
                        <li>
                            {{ step }}
                        </li>
                    </ul>
                </div>
            {% endfor %}

{% endblock %}