{% extends "base.html" %}
{% block content %}

    <h1>Home Page</h1>

        <div class="carousel">
            <a class="carousel-item" href="{{ url_for('classics') }}"><img src="{{url_for ('static', filename='images/site-images/classics-carousel.jpg')}}">Mocktail Collection</a>
            <a class="carousel-item" href="{{ url_for('elegant') }}"><img src="{{url_for ('static', filename='images/site-images/elegance-carousel.jpg')}}"></a>
            <a class="carousel-item" href="{{ url_for('fruity') }}"><img src="{{url_for ('static', filename='images/site-images/fruity-carousel.jpg')}}"></a>
            <a class="carousel-item" href="{{ url_for('hot_drinks') }}"><img src="{{url_for ('static', filename='images/site-images/hot-drinks-carousel.jpg')}}"></a>
            <a class="carousel-item" href="{{ url_for('mocktails') }}"><img src="{{url_for ('static', filename='images/site-images/mocktails-carousel.jpg')}}"></a>
            <a class="carousel-item" href="{{ url_for('pitchers') }}"><img src="{{url_for ('static', filename='images/site-images/pitchers-carousel.jpg')}}"></a>
            <a class="carousel-item" href="{{ url_for('shots') }}"><img src="{{url_for ('static', filename='images/site-images/shots-carousel.jpg')}}"></a>
        </div>
        

    
{% endblock %}