{% extends "base.html" %}
{% block content %}

    <div class="row collection-container">
        <div class="col s12 m8 offset-m2 collection-banner-image all-cocktails-image">
            <div class="collection-banner-text">
                <h1 class="orange-neon-text">Full Cocktail<br><span class="abc">Collection</span></h1>
            </div>
        </div>
    </div>

    <!-- Search Bar  -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="search-container">
                <form action="{{ url_for('search') }}" method="post">
                    <p class="white-text center-align">Search our recipes by ingredient or keyword</p>
                    <div class="input-field">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" required>
                        <label for="query">Search</label>
                    </div>
                    <!-- Search Buttons  -->
                    <div class="center-align">
                        <a class="btn" id="search-btn" href="{{ url_for('get_recipes') }}">Clear</a>
                        <button class="btn" id="search-btn" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <!-- Recipes display  -->
            <div class="row">
                {% if recipes.count() > 0 %}
                    {% for recipe in recipes %}
                        <!-- Recipe card  -->
                        <div class="card-container col s12 m6 l4 xl3">
                            <div class="card purple-neon-border">
                                <div class="main-content">
                                    <img src="{{ recipe.image_url }}" alt="cocktail recipe image">
                                </div>
                                <div class="overlay-content">
                                    <div class="valign-wrapper name-wrapper">
                                        <div class="card-cocktail-name">
                                            {{ recipe.cocktail_name }}
                                        </div>
                                    </div>
                                    <div class="card-cocktail-ing">
                                        {{ recipe.main_ingredient }}
                                    </div>
                                    <div class="card-btn-container">
                                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="card-recipe-btn card-btn">Full Recipe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <!-- If no results found  -->
                {% else %}
                    <p class="none-found center-align">No Results Found<br>Feel free to <strong><a href=" url_for('login') }}">log in to your account</a></strong> and add to the database!<br>And if you don't have an account, you can <strong><a href="{{ url_for('register') }}">register for one here!</a></strong></p>
                {% endif %}
            </div>
            <!-- pagination  -->
            <div class="pagination-container">
                {% if recipes.count() > 0 %}
                    {{ pagination.links }}
                    {{ pagination.info }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}