{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.category_name }}<br>
        {{ recipe.cocktail_name }}<br>
        {{ recipe.cocktail_url }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
    {% endfor %}
    <div class="card">
        <div class="main-content">
            <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80" alt="cocktail image">
        </div>
        <div class="overlay-content">
            <p>Coctail Name</p>
        </div>
    </div>





{% endblock %}