{% extends "base.html" %}
{% block content %}

    <h1>Register</h1>

    <div>
        <form method="POST" action="{{ url_for('register') }}">
            <div>
                <div class="input-field">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"  class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="input-field">
                <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password" type="password" minlength="5" maxlength="15"  class="validate" required>
                <label for="password">Password</label>
            </div>
            <div>
                <button class="submit">Submit</button>
            </div>
        </form>
    </div>
    
{% endblock %}